
<section class="">
    <form class="d-flex" asp-controller="Lanche" asp-action="Buscar" method="get">
        <div class="input-group">
            <input type="text" class="form-control" name="busca" placeholder="Nome do lanche" aria-label="Busca" aria-describedby="busca" value="@ViewData["busca"]">
            <button class="btn btn-success" type="submit" id="busca">Buscar</button>
        </div>
    </form> 
</section>
