<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fa-solid fa-burger fa-bounce"></i>
            Lanchonete            
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Carrinho" asp-action="Index">Carrinho</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Contato" asp-action="Index">Contato</a>
                </li>
                <li class="nav-item align-content-center">
                    @await Component.InvokeAsync("CategoriaMenu")
                </li>
                @await Component.InvokeAsync("CarrinhoResumo")
            </ul>
        </div>
        @if(User.IsInRole("Admin"))
        {           
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Admin" asp-action="Index">Painel</a>
        }
        @await Html.PartialAsync("_LoginPartial")
      
    </div>
</nav>