<div class="nav-menu container">

<nav class="navbar navbar-expand-xl navbar-toggleable-sm navbar-light  mb-1">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
            <img src="~/images/carrossel/pizza-2661982_640.png" width="100" />            
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" >Os mais pedidos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#sobre">Sobre Nós</a>
                </li>
                @* <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Carrinho" asp-action="Index">Carrinho</a>
                </li> *@
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#contato" >Fale conosco</a>
                </li>
                <li class="nav-item align-content-center">
                    @await Component.InvokeAsync("CategoriaMenu")
                </li>
                @await Component.InvokeAsync("CarrinhoResumo")
            </ul>
        </div>
        @if(User.IsInRole("Admin"))
        {           
            <a class="nav-link text-dark" asp-area="Admin" asp-controller="Admin" asp-action="Index">Painel</a>
        }
        @await Html.PartialAsync("_LoginPartial")
      
    </div>
</nav>
</div>