@{
    ViewData["Title"] = "Contato";
}

<section class="container">
    <h1><i class="fa-regular fa-comments"> - Fale Conosco</i> </h1>

    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer.</h3>
       <p>
           Se você tiver alguma dúvida ou sugestão fale conosco!
       </p>
       <span>
           <h1>
               <i class="fa-solid fa-envelope"></i>
           </h1>
           <h5>
               <email endereco="marcelomorais.program@gmail.com" conteudo="Enviar email"></email>
           </h5>
       </span>
       <br />
       <span>
           <h5>(85) 98888-9999</h5>
       </span>
       <h5>Av. dos Desenvolvedores 500 - DotNet - Fortaleza - CE</h5>
    </div>
</section>