<section class="container">
    <h4>Gerenciamento de imagens</h4>
    <hr />
    <table class="table">
        <tr>
            <td>
                <form class="form-control" 
                    method="post"
                    asp-controller="AdminImagens"
                    asp-action="UploadFiles"
                    enctype="multipart/form-data"
                >   
                    <label class="form-label">Selecione as imagens</label>
                    <input type="file" name="files" multiple class="form-control" />
                    <input type="submit" value="Enviar Imagnes" class="btn btn-outline-info mt-3" />
                </form>
                <hr />
                <form class="form-control mt-3"
                      method="get"
                      asp-controller="AdminImagens"
                      asp-action="GetImagens"
                      enctype="multipart/form-data">
                    <input type="submit" value="Visualizar arquivos" class="btn btn-outline-success" />
                </form>
            </td>
        </tr>
    </table>
    <div>
        @if(ViewData["Deletado"] != null)
        {
            <li class="text-danger">@ViewData["Deletado"]</li>
        }
    </div>
</section>