@model LanchoneteAspMvc.Models.Lanche

@{
    ViewData["Title"] = "Admin";
  
}

<section class="container">


<h4>Lanche</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoCurta" class="control-label"></label>
                <input asp-for="DescricaoCurta" class="form-control" />
                <span asp-validation-for="DescricaoCurta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoLonga" class="control-label"></label>
                <input asp-for="DescricaoLonga" class="form-control" />
                <span asp-validation-for="DescricaoLonga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagemUrl" class="control-label"></label>
                @* <input asp-for="ImagemUrl" class="form-control" /> *@                    
                    <select asp-for="ImagemUrl" class="form-control" asp-items="ViewBag.Lista"></select>
                  
                <span asp-validation-for="ImagemUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThumbnailUrl" class="control-label"></label>
                @* <input asp-for="ThumbnailUrl" class="form-control" /> *@
                   <option selected>Caminho da imagem</option>
                    <select asp-for="ThumbnailUrl" class="form-control" asp-items="ViewBag.Lista"></select>
                    </select>
                    <span asp-validation-for="ThumbnailUrl" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Preferido" /> @Html.DisplayNameFor(model => model.Preferido)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Disponivel" /> @Html.DisplayNameFor(model => model.Disponivel)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaId" class="control-label"></label>
                <select asp-for="CategoriaId" class ="form-control" asp-items="ViewBag.CategoriaId"></select>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-outline-primary salvar"><i class="fa-solid fa-reply"></i></a>
            </div>
        </form>
    </div>
</div>

</section>

<script type="module">    
    

    import { initializeApp } from 'https://www.gstatic.com/firebasejs/10.9.0/firebase-app.js'
    import { getStorage, ref, uploadBytes } from 'https://www.gstatic.com/firebasejs/10.9.0/firebase-storage.js'


    const firebaseConfig = {
        apiKey: "AIzaSyAfkqNcYzuE0nNoImEqvTfCH4DTgBwQ8i8",
        authDomain: "lanchonete-30a36.firebaseapp.com",
        projectId: "lanchonete-30a36",
        storageBucket: "lanchonete-30a36.appspot.com",
        messagingSenderId: "323973295391",
        appId: "1:323973295391:web:4dcb8b76bcc4aa28ab542a"
    };

    $(".salvar").click(function (e) {
        debugger
        e.preventDefault();
        const caminho = $("ImagemUrl").val();
        const app = initializeApp(firebaseConfig);
        const storage = getStorage();

        const spaceRef = ref(storage, 'imagens/'+caminho);
        uploadBytes(spaceRef, file).then((snapshot) => {
            console.log('Uploaded a blob or file!');
        });

    })
 

    
</script>
