@{
    ViewData["Title"] = "Gráfico de Vendas";
}

<title>
    @ViewData["Title"]
</title>

<h2>Gráfico de vendas Semanal</h2>
<hr />
<section class="container">
    <div id="grafico"></div>
</section>

<script>
    google.charts.load('current', { packages: ['corechart'] });
    google.charts.setOnLoadCallback(carregaDados);

    async function carregaDados() {

        const url = '@Url.Action("VendasLanches", "AdminGrafico", new { dias = 7 })';

        const requisicao = await fetch(url)
        const dados = await requisicao.json();
       
        let informacoesGrafico = [
            ["Nome", "Quantidade", "Valores(R$)", { role: 'style' }]
        ]
        $.each(dados, (i, item) => {
            informacoesGrafico.push([item.nome, item.quantidade, item.valorTotal, `color: #FFA${i}00`]);
        });

        
        const tag = document.getElementById("grafico")
        if (dados.length < 1) {
            tag.innerHTML = "<h2>Não há dados de venda nesse período.</h2>"
        } else {
            geraGrafico(informacoesGrafico);
        }
    }

    function geraGrafico(dados) {       

            const tag = document.getElementById("grafico")
            let view = google.visualization.arrayToDataTable(dados);

        const options = {
            width: '1000',
            height: '400',
            bar: { groupWidth: '75%' },
            isStacked: true,
            'legend': 'left',
            'is3D': true,

        }

            const grafico = new google.visualization.BarChart(tag);
            grafico.draw(view, options)       
    }

</script>


