html {
    font-size: 1rem;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 100vw;
    background-color: #FFF;
    min-height: 100vh;
    
}
header {
    height: 700px;
    background-image: url(../images/carrossel/ai-generated-8713312_1280.png);
    /* background-attachment:fixed;*/
    background-size: 100%;
    position: relative;
    /*background-repeat: no-repeat;*/
    box-shadow: 0px 0px 10px #000;
}
.menu {
    background-color: #F5A309;
    box-shadow: 1px 1px 10px #000;
}
.nav-menu {
    
}


main {
    display: flex;
    min-height: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #f3f3f3;
}
section {
    margin: 10px;
    
}
.login{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 700px;
}
.login-icon{
    font-size: 10rem;
    color: #000;
}

#sobre {
    background-color: #F5A309;
    min-height: 700px;
}
.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.texto-sobre {
    padding: 5px;
    text-align: center;
    flex-wrap: wrap;
}
.texto-sobre h3{   
    font-size: 2.0rem;
    text-align: center;
}
.texto-sobre p{  
    font-size: 1.2rem;
    text-align: justify;
}
#contato {    
    min-height: 700px;  
}
.contato {
    display: flex;
    justify-content: center;
    align-items: center;  
}
.imagem-sobre {
    width: 80%;
}
.image-contato img{
    width: 80%;
}
.carrossel {
    min-height: 700px;
    width: 100%;
}
    .carrossel .carousel-item {
        height: 600px;
        width: 100%;
    }
        .carrossel .carousel-item img
        {
            height: 100%;
            width: 100%;
        }

    .catalogo {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }

.section-catalogo{
    background-color: #ff0e0e;
}

.detalhes-lanche {
    display: flex;
    flex-direction: column;   
    margin: 5px;
  
}
    .detalhes-lanche .card {
        width: 300px;
        height: 500px;
        padding: 5px;
       
    }

        .detalhes-lanche .card .image-card {
            min-width: 250px;
            min-height: 250px;
        }

            .detalhes-lanche .card .image-card img {
                max-height: 250px;
            }

.card-body {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}
.card-footer {
    display: flex;
    justify-content: center;
    font-size: 10px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 10px;
    background-color: #F5A309;
    margin-top: 10px;
   
}

.rodape a {
    color: #FFF;
    text-decoration: none;
}


@media (max-width: 768px) {
    body{
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
    }
    main {
        display: flex;
        min-height: 700px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sobre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .contato {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}








/*
html {
  font-size: 14px;
}

@media screen and (min-width: 320px) {
    html {
        font-size: 1rem;
    }

    main {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
@media (min-width: 768px) {
    html {
        font-size: 1rem;
    }

    main {
        display: flex;
        flex-direction: column;
    }
}
.main{
    display:flex;
    
}
.detalhes-lanche {
    padding: 10px;
    display: flex;
    flex-direction: column;
}*/

/*LanchesView*/
/*.detalhes-lanche {
    padding: 10px;

}
.detalhes-lanche .card{
    min-width: 100%;
    min-height: 500px;
}

.detalhes-lanche .card{
    min-width: 100%;
    max-height: 500px;
}
.detalhes-lanche .card .image-card {
    min-width: 100%;
    min-height: 2   00px;
}
    
.detalhes-lanche .card .image-card img {
    height:250px;
     
}

.mfooter {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    color: #000;
    padding: 10px;
    background-color: #F5A309;
}
.mfooter p a {
    color: #FFF;
    text-decoration:none;
}*/


